@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Armenian:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@700&display=swap');

@font-face {
    font-family: maintext;
    src:url("arnamu.ttf");
}

@font-face {
    font-family: title;
    src:url("davel-aghvor.otf");
}

#zibil {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 15px;
    overflow: hidden;
    background-color: #2a2a2a;
}

#zibil-urish {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 15px;
    overflow: visible;
    background-color: #2a2a2a;
}

.header{
    align-content: center;
    text-align: center;
    position: static;
    background-image: url("img/GR/header.png");
    width: 1890px;
    height: 137px;
}

#image-workshop {
    position: relative;
    display: inline;
    margin: auto;
    padding-top: 10px;
}
#title{
    font-family: title;
    font-size: 55px;
    padding-top: 5px;
    margin: auto;
    text-align: center;
    align-content: center;
    color: white;
}

#image-clic {
    position: relative;
    display: inline;
    margin: auto;
    left: 5px;
    padding-top: 10px;
}

.content-box{
    align-content: center;
    text-align: center;
    padding: 20px; /* Consolidate padding */
    margin: 0 auto;
    border: solid 1px white; /* Use consistent border color */
    border-radius: 2px;
    box-shadow: white;
    width: 45%;
}

#h1 {
    text-align: center;
    font-size: 75px;
    /*text-decoration: underline;*/
    margin-bottom: 20px;
    color: white;
    font-family: 'Sulphur Point', sans-serif;
}

.back-button {
    position: relative;
    margin: auto;
    right: auto;
    background-color: transparent;
    color: #fff;
    padding: 10px 5px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #ffffff;
    color: black;
}

.lection{
    margin: auto;
    width: 76%;
    padding-left: 150px;
    padding-right: 150px;
}

.img-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 0px  #960018 , 0 0 0px   #960018, 0 0 15px  #960018;
    border-radius: 4px;
    Border: solid 0px;
}

.img-text img {
    display: block;
    margin: 0; /* Remove default margin */
    border-radius: 4px; /* Match border radius */
}

ul {
    list-style-type: none;
    padding: 0;
}

.li {
    text-align: center;
    list-style-type: none;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    color: white;
    border-color: white;

}


.a {
    text-align: center;
    font-family: 'Noto Serif Armenian', serif;
    text-decoration: blink;
    padding: 5px 10px;
    display: inline-block;
    background: transparent;
    color: white;
    border: 0.5px solid #ccc;
    border-radius: 0px;
    cursor: pointer;
    font-size: 22px;
}

a:hover {
    background: transparent;
    color: white;
    border-color: white;
}

a:active {
    background: transparent;
    color: white;
    border-color: white;
    background-color: white;
}



.whiteH2main{
    text-align: center;
    color: #ffffff;
    font-family: 'Noto Serif Armenian', serif;
}

.whiteH2{
    font-size: 26px;
    text-align: left;
    align-content: center;
    color: #ffffff;
    font-family: maintext;
    letter-spacing: -0.2;
    line-height: 1.2;
}

.imgdescription{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    align-content: center;
    color: orange;
    font-family: 'Noto Serif Armenian', serif;
    letter-spacing: -1px;
}

.imgdescriptionlensing{
    font-size: 15px;
    text-align: left;
    font-style: italic;
    align-content: left;
    color: orange;
    font-family: 'Noto Serif Armenian', serif;
    letter-spacing: -1px;
}


.whiteP{
    text-align: center;
    font-family: 'Sulphur Point', sans-serif;
    color: #ffffff;
    font-size: 20px;
    /*text-decoration: underline;*/
    /*border: 1px solid #ccc;*/
    /*text-decoration: underline;*/
    margin-right: auto;
    margin-left: auto;
    width: 62%;
}

#hr{
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);
    border-radius: 50px;
}

.thanks{
    position: fixed;
    bottom: 0px;
    left: 12px;
    color: #b8bab9;
    text-decoration: underline;
    opacity: 50%;
    font-weight: bold;
    font-style: italic;
}

.icons{
    width: 128px;
    height: 64px;
    text-align: right;
    align-content: right;
}

